*{
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 20px;
    font-size: 30px;
}
nav div button{
    height: 55px;
    width: 55px;
    margin: 15px 10px 10px 20px;
    border-radius: 20px;
}
nav div img{
   /* margin: 10px 10px 10px 17px;*/
    border-radius: 13px;
}
ul li{
    margin: 5px 0px;
    border-radius: 10px;
    padding: 5px;
}
.heading{
    font-size: 17px;
    text-align: center;
    color: #51D131;
    animation: animate 1.5s linear infinite;
 }
 @keyframes animate{ 

   0%{ 
     opacity: 0; 
   } 

   50%{ 
     opacity: 0.7; 
   } 

   100%{ 
     opacity: 0; 
   } 
}
#bs-button {
	width: 55vw;
	border: 5px solid black;
	border-radius: 20;
	background-color: #51D131;
}
.cover{
    background-image: ;
	}